@import 'tailwindcss';

@layer components {
	/* Base Typography */
	[class*='-'] {
		font-family: var(--font-pretendard);
	}

	/* Headers */
	.header-semibold,
	.header-medium,
	.header-regular {
		font-size: var(--text-15);
		line-height: var(--lh-16);
	}

	.header-semibold {
		font-weight: var(--font-weight-semibold);
	}
	.header-medium {
		font-weight: var(--font-weight-medium);
	}
	.header-regular {
		font-weight: var(--font-weight-regular);
	}

	/* Display */
	.display-semibold {
		font-size: var(--text-24);
		font-weight: var(--font-weight-semibold);
		line-height: var(--lh-36);
	}

	/* Titles */
	.title1-bold {
		font-size: var(--text-28);
		font-weight: var(--font-weight-bold);
		line-height: var(--lh-36);
	}

	.title2-semibold {
		font-size: var(--text-24);
		font-weight: var(--font-weight-semibold);
		line-height: var(--lh-26);
	}

	.title3-semibold {
		font-size: var(--text-20);
		font-weight: var(--font-weight-semibold);
		line-height: var(--lh-normal);
	}

	.title4-semibold {
		font-size: var(--text-18);
		font-weight: var(--font-weight-semibold);
		line-height: var(--lh-20);
	}

	.title5-semibold {
		font-size: var(--text-16);
		font-weight: var(--font-weight-semibold);
		line-height: var(--lh-16);
	}

	/* Subtitles */
	.subtitle1-semibold,
	.subtitle1-medium {
		font-size: var(--text-14);
		line-height: var(--lh-16);
	}

	.subtitle1-semibold {
		font-weight: var(--font-weight-semibold);
	}
	.subtitle1-medium {
		font-weight: var(--font-weight-medium);
	}

	.subtitle2-medium {
		font-size: var(--text-13);
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-18);
	}

	.subtitle2-regular {
		font-size: var(--text-13);
		font-weight: var(--font-weight-regular);
		line-height: var(--lh-24);
	}

	/* Bodies */
	.body1-bold {
		font-size: var(--text-24);
		font-weight: var(--font-weight-black);
		line-height: var(--lh-24);
	}

	.body2-semibold,
	.body2-regular {
		font-size: var(--text-20);
		line-height: var(--lh-24);
	}

	.body2-semibold {
		font-weight: var(--font-weight-semibold);
	}
	.body2-regular {
		font-weight: var(--font-weight-regular);
	}

	.body3-regular {
		font-size: var(--text-16);
		font-weight: var(--font-weight-regular);
		line-height: var(--lh-24);
	}

	.body4-semibold {
		font-size: var(--text-15);
		font-weight: var(--font-weight-semibold);
		line-height: var(--lh-16);
	}

	.body5-medium,
	.body5-regular {
		font-size: var(--text-14);
		line-height: var(--lh-16);
	}

	.body5-medium {
		font-weight: var(--font-weight-medium);
	}
	.body5-regular {
		font-weight: var(--font-weight-regular);
	}

	.body6-medium,
	.body6-regular {
		font-size: var(--text-13);
	}

	.body6-medium {
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-18);
	}

	.body6-regular {
		font-weight: var(--font-weight-regular);
		line-height: var(--lh-16);
	}

	.body7-medium {
		font-size: var(--text-12);
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-16);
	}

	.body8-regular {
		font-size: var(--text-10);
		font-weight: var(--font-weight-regular);
		line-height: var(--lh-16);
	}

	/* Buttons */
	.button1-medium {
		font-size: var(--text-18);
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-24);
	}

	.button2-semibold,
	.button2-medium {
		font-size: var(--text-16);
	}

	.button2-semibold {
		font-weight: var(--font-weight-semibold);
		line-height: var(--lh-28);
	}

	.button2-medium {
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-24);
	}

	.button3-semibold,
	.button3-regular {
		font-size: var(--text-15);
		line-height: var(--lh-16);
	}

	.button3-semibold {
		font-weight: var(--font-weight-semibold);
	}
	.button3-regular {
		font-weight: var(--font-weight-regular);
	}

	.button4-medium {
		font-size: var(--text-14);
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-16);
	}

	.button5-medium,
	.button5-regular {
		font-size: var(--text-12);
		line-height: var(--lh-16);
	}

	.button5-medium {
		font-weight: var(--font-weight-medium);
	}
	.button5-regular {
		font-weight: var(--font-weight-regular);
	}

	.button6-regular {
		font-size: var(--text-10);
		font-weight: var(--font-weight-regular);
		line-height: var(--lh-16);
	}

	/* Captions */
	.caption1-medium,
	.caption1-regular {
		font-size: var(--text-12);
	}

	.caption1-medium {
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-normal);
	}

	.caption1-regular {
		font-weight: var(--font-weight-regular);
		line-height: var(--lh-16);
	}

	.caption2-medium,
	.caption2-regular {
		font-size: var(--text-10);
	}

	.caption2-medium {
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-16);
	}

	.caption2-regular {
		font-weight: var(--font-weight-regular);
		line-height: var(--lh-normal);
	}

	/* Navigation */
	.nav1-medium {
		font-size: var(--text-18);
		font-weight: var(--font-weight-medium);
		line-height: var(--lh-24);
	}
}
