@import 'tailwindcss';
@import './theme.css';
@import './font.css';

/* 기본적으로 좁은 화면 UI에서 추가로 넓은 화면 레이아웃을 설정하는 경우 */
@custom-variant desktop {
	@media (min-width: 1440px) {
		@slot;
	}
}

/* 기본적으로 넓은 화면 UI에서 추가로 좁은 화면 레이아웃을 설정하는 경우 */
@custom-variant tablet {
	@media (max-width: 1439.9px) {
		@slot;
	}
}

@custom-variant @mobile {
	@container (max-width: 767px) {
		@slot;
	}
}

@layer base {
	body {
		background-color: var(--color-black-100);
		color: var(--color-black-900);
		display: flex;
		flex-direction: column;
	}

	button {
		cursor: pointer;
		&:disabled {
			pointer-events: none;
		}
	}

	h1 {
		font-size: 20px;
		font-weight: 700;
	}

	h2 {
		font-size: 18px;
		font-weight: 600;
	}

	ul {
		list-style: disc;
		padding-left: 1.5rem;
	}

	blockquote {
		border-left: 4px solid var(--color-black-800);
		padding-left: 1rem;
		margin: 1rem 0;
	}

	ol {
		list-style-type: decimal;
		padding-left: 1.5rem;
	}
}

body.overflow-hidden {
	overflow: hidden !important;
}

.banner-swiper .swiper-pagination {
	@apply gap-4 bottom-[1.5625rem] desktop:gap-[0.9375rem] desktop:bottom-8;
	position: absolute;
	z-index: 20;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	width: fit-content;
}
.banner-swiper .swiper-pagination-bullet {
	width: 0.5rem;
	height: 0.5rem;
	background-color: white;
	border-radius: 0.25rem;
	opacity: 1;
	transition: width 0.3s ease;
}
.banner-swiper .swiper-pagination-bullet-active {
	@apply w-[2.375rem] desktop:w-[3.125rem];
}

.mobile-banner-swiper .swiper-pagination {
	position: absolute;
	z-index: 20;
	bottom: 0.6875rem;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	width: fit-content;
	gap: 0.375rem;
}
.mobile-banner-swiper .swiper-pagination-bullet {
	width: 0.5rem;
	height: 0.5rem;
	background-color: white;
	border-radius: 0.25rem;
	opacity: 1;
	transition: width 0.3s ease;
}
.mobile-banner-swiper .swiper-pagination-bullet-active {
	width: 1.5rem;
}

.tiptap hr {
	border: none;
	border-top: 1px solid #d9d9d9;
	margin: 16px 0;
}

.tiptap .ProseMirror {
	height: 100%; /* 에디터 전체 영역을 인풋으로 받음 */
}

/*커스텀 스크롤바*/
.minimal-scrollbar::-webkit-scrollbar {
	width: 6px; /* 바만 좁게 남기고 */
}

.minimal-scrollbar::-webkit-scrollbar-track {
	background: transparent; /* 트랙 투명하게 */
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3); /* 바만 보이게 */
	border-radius: 4px;
}

.minimal-scrollbar {
	scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none; /* IE */
	scrollbar-width: none; /* Firefox */
}

/*placeholder*/
.empty-placeholder:empty:before {
	content: attr(data-placeholder);
	color: #999;
	pointer-events: none;
}
