@import 'tailwindcss';

/* 배경색 유틸리티 클래스 */
.bg-primary-900 {
	background-color: var(--color-primary-900);
}
.bg-primary-800 {
	background-color: var(--color-primary-800);
}
.bg-primary-700 {
	background-color: var(--color-primary-700);
}
.bg-primary-300 {
	background-color: var(--color-primary-300);
}
.bg-primary-200 {
	background-color: var(--color-primary-200);
}
.bg-primary-50 {
	background-color: var(--color-primary-50);
}
.bg-black-900 {
	background-color: var(--color-black-900);
}
.bg-black-800 {
	background-color: var(--color-black-800);
}
.bg-black-700 {
	background-color: var(--color-black-700);
}
.bg-black-600 {
	background-color: var(--color-black-600);
}
.bg-black-500 {
	background-color: var(--color-black-500);
}
.bg-black-300 {
	background-color: var(--color-black-300);
}
.bg-black-200 {
	background-color: var(--color-black-200);
}
.bg-black-100 {
	background-color: var(--color-black-100);
}
.bg-black-000 {
	background-color: var(--color-black-000);
}

/* hover 시 배경색 */
.hover\:bg-primary-900:hover {
	background-color: var(--color-primary-900); /* hover 시 bg-primary-900 */
}
.hover\:bg-primary-800:hover {
	background-color: var(--color-primary-800); /* hover 시 bg-primary-800 */
}
.hover\:bg-primary-700:hover {
	background-color: var(--color-primary-700); /* hover 시 bg-primary-700 */
}
.hover\:bg-primary-300:hover {
	background-color: var(--color-primary-300); /* hover 시 bg-primary-300 */
}
.hover\:bg-primary-200:hover {
	background-color: var(--color-primary-200); /* hover 시 bg-primary-200 */
}
.hover\:bg-primary-50:hover {
	background-color: var(--color-primary-50); /* hover 시 bg-primary-50 */
}
.hover\:bg-black-900:hover {
	background-color: var(--color-black-900); /* hover 시 bg-black-900 */
}
.hover\:bg-black-800:hover {
	background-color: var(--color-black-800); /* hover 시 bg-black-800 */
}
.hover\:bg-black-700:hover {
	background-color: var(--color-black-700); /* hover 시 bg-black-700 */
}
.hover\:bg-black-600:hover {
	background-color: var(--color-black-600); /* hover 시 bg-black-600 */
}
.hover\:bg-black-500:hover {
	background-color: var(--color-black-500); /* hover 시 bg-black-500 */
}
.hover\:bg-black-300:hover {
	background-color: var(--color-black-300); /* hover 시 bg-black-300 */
}
.hover\:bg-black-200:hover {
	background-color: var(--color-black-200); /* hover 시 bg-black-200 */
}
.hover\:bg-black-100:hover {
	background-color: var(--color-black-100); /* hover 시 bg-black-100 */
}
.hover\:bg-black-000:hover {
	background-color: var(--color-black-000); /* hover 시 bg-black-000 */
}

/* active 시 배경색 */
.active\:bg-primary-900:active {
	background-color: var(--color-primary-900); /* active 시 bg-primary-900 */
}
.active\:bg-primary-800:active {
	background-color: var(--color-primary-800); /* active 시 bg-primary-800 */
}
.active\:bg-primary-700:active {
	background-color: var(--color-primary-700); /* active 시 bg-primary-700 */
}
.active\:bg-primary-300:active {
	background-color: var(--color-primary-300); /* active 시 bg-primary-300 */
}
.active\:bg-primary-200:active {
	background-color: var(--color-primary-200); /* active 시 bg-primary-200 */
}
.active\:bg-primary-50:active {
	background-color: var(--color-primary-50); /* active 시 bg-primary-50 */
}
.active\:bg-black-900:active {
	background-color: var(--color-black-900); /* active 시 bg-black-900 */
}
.active\:bg-black-800:active {
	background-color: var(--color-black-800); /* active 시 bg-black-800 */
}
.active\:bg-black-700:active {
	background-color: var(--color-black-700); /* active 시 bg-black-700 */
}
.active\:bg-black-600:active {
	background-color: var(--color-black-600); /* active 시 bg-black-600 */
}
.active\:bg-black-500:active {
	background-color: var(--color-black-500); /* active 시 bg-black-500 */
}
.active\:bg-black-300:active {
	background-color: var(--color-black-300); /* active 시 bg-black-300 */
}
.active\:bg-black-200:active {
	background-color: var(--color-black-200); /* active 시 bg-black-200 */
}
.active\:bg-black-100:active {
	background-color: var(--color-black-100); /* active 시 bg-black-100 */
}
.active\:bg-black-000:active {
	background-color: var(--color-black-000); /* active 시 bg-black-000 */
}

/* 텍스트 색상 유틸리티 클래스 */
.text-negative {
	color: var(--color-negative);
}
.text-primary-900 {
	color: var(--color-primary-900);
}
.text-black-900 {
	color: var(--color-black-900);
}
.text-black-800 {
	color: var(--color-black-800);
}
.text-black-700 {
	color: var(--color-black-700);
}
.text-black-600 {
	color: var(--color-black-600);
}
.text-black-500 {
	color: var(--color-black-500);
}
.text-black-300 {
	color: var(--color-black-300);
}
.text-black-200 {
	color: var(--color-black-200);
}
.text-black-100 {
	color: var(--color-black-100);
}
.text-black-000 {
	color: var(--color-black-000);
}

/* hover 시 텍스트색 */
.text-negative {
	color: var(--color-negative);
}
.hover\:text-black-900:hover {
	color: var(--color-black-900); /* hover 시 text-black-900 */
}
.hover\:text-black-800:hover {
	color: var(--color-black-800); /* hover 시 text-black-800 */
}
.hover\:text-black-700:hover {
	color: var(--color-black-700); /* hover 시 text-black-700 */
}
.hover\:text-black-600:hover {
	color: var(--color-black-600); /* hover 시 text-black-600 */
}
.hover\:text-black-500:hover {
	color: var(--color-black-500); /* hover 시 text-black-500 */
}
.hover\:text-black-300:hover {
	color: var(--color-black-300); /* hover 시 text-black-300 */
}
.hover\:text-black-200:hover {
	color: var(--color-black-200); /* hover 시 text-black-200 */
}
.hover\:text-black-100:hover {
	color: var(--color-black-100); /* hover 시 text-black-100 */
}
.hover\:text-black-000:hover {
	color: var(--color-black-000); /* hover 시 text-black-000 */
}

/* 테두리 색상 유틸리티 클래스 */
.border-negative {
	border-color: var(--color-negative);
}
.border-primary-900 {
	border-color: var(--color-primary-900);
}
.border-black-900 {
	border-color: var(--color-black-900);
}
.border-black-800 {
	border-color: var(--color-black-800);
}
.border-black-700 {
	border-color: var(--color-black-700);
}
.border-black-600 {
	border-color: var(--color-black-600);
}
.border-black-500 {
	border-color: var(--color-black-500);
}
.border-black-300 {
	border-color: var(--color-black-300);
}
.border-black-200 {
	border-color: var(--color-black-200);
}
.border-black-100 {
	border-color: var(--color-black-100);
}
.border-black-000 {
	border-color: var(--color-black-000);
}

/* 그림자 유틸리티 클래스 */
.shadow-select-options {
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}
.shadow-login-button {
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.shadow-floating-button {
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.shadow-predict-button {
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.shadow-score-button {
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}
.shadow-predict-button-active {
	box-shadow: 0px 2px 10px 0px rgba(217, 25, 32, 0.4);
}
.shadow-kick-button {
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.shadow-kick-button-active {
	box-shadow: 0px 2px 10px 0px rgba(217, 25, 32, 0.2);
}

/* predict-button 가상 요소 클래스 */
.before\:bg-primary-300 {
	&::before {
		content: '';
		background-color: var(--color-primary-300);
	}
}
.before\:hover\:bg-primary-50:hover {
	&::before {
		content: '';
		background-color: var(--color-primary-50);
	}
}
.before\:shadow-predict-button-active {
	&::before {
		content: '';
		box-shadow: 0px 2px 10px 0px rgba(217, 25, 32, 0.4);
	}
}
.before\:hover\:shadow-predict-button-active:hover {
	&::before {
		content: '';
		box-shadow: 0px 2px 10px 0px rgba(217, 25, 32, 0.4);
	}
}

/* closed 버튼 가상 요소 클래스 */
.before\:bg-primary-200 {
	&::before {
		content: '';
		background-color: var(--color-primary-200);
	}
}
.before\:shadow-closed-button-active {
	&::before {
		content: '';
		box-shadow: 0 0 0 0.5px var(--color-primary-200);
	}
}
